tags
test.sh
.luarc.json
nvim

spell/

# In your personal fork, you likely want to comment this, since it's recommended to track
# lazy-lock.json in version control - see https://lazy.folke.io/usage/lockfile
# For the official `nvim-lua/kickstart.nvim` git repository, we leave it ignored to avoid unneeded
# merge conflicts.
lazy-lock.json

.DS_Store
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true        # 用 n / N 在文件间跳转
    line-numbers = true    # 显示行号
    side-by-side = false   # 想要左右并排就改 true

[merge]
    conflictstyle = zdiff3
